<div class="container">
<h2>Update Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @team, url: team_path(@team), method: :put do |f| %>

  <p><%= f.label :team_name %></p>
  <p><%= f.text_field :team_name %></p>


  <p><%= f.label :info %></p>
  <p><%= f.text_field :info %></p>

  <%= f.submit "Update my Team", class: "button" %>
<% end %>
</div>

<p><%= link_to "Delete my Team", team_path(@team), method: :delete %></p></div>