<div class="inner-container">
  <div class="profile-picture"></div>

  <div class="inner-container">
    <h3>Team name:</h3>
      <div class="inner-container"><%= @team.team_name %></div>

    <h3>Positions</h3>
    <div class="inner-container">
      <% @team.players.each do |player| %>
        <%= player.username %>:
        <% player.positions.each do |position| %>
         <div class="tag"><%= position.name %></div>
      <% end %><br>
      <% end %>
    </div>
  </div>

  <div class="inner-container">
    <h3>Sports</h3>
    <% @team.sports.each do |sport| %>
      <div class="tag"><%= sport.name %></div>
    <% end %>
  </div>

<div class="inner-container">
    <h3>Teammates</h3>
    <% @team.players.each do |player| %>
      <div class="tag"><%= player.username %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Contact:</h3>
    <%= @team.admin.username %>:<br>
    <%= @team.admin.email %><br>
    <%= @team.admin.phone %>
  </div>

  <div class="inner-container">
    <h3>Info</h3>
    <p><%= @team.info %></p>
  </div>
</div>

<% if logged_in? %>
<% if current_player.id == @team.admin.id %>
<div class="buttons">
  <%= button_to "Edit Profile", edit_team_path(@team), method: :get, class: "button" %>
  <%= button_to "Delete Profile", method: :delete, class: "button" %>
</div>
<% end %>
<% end %>
<%= button_to "See Our Work", root_path, method: :get, class: "button" %>
</div>