<div class="homepage">
  <div class="original-homepage">

    <div class="jumbotron text-center">
      <h1>Who Are You Searching For?</h1>
      <div id="athlete-team-search" class="text-center">
        <%= form_tag("/search", method: "post") do %>
          <div class="homepage-search">
          <div class="athlete-radio-button">
            <%= radio_button_tag(:group, "Athletes") %>
          <%= label_tag(:group, "Athletes", :class => "h2") %>
          </div>
          <div class="team-radio-button">
            <%= radio_button_tag(:group, "Teams") %>
            <%= label_tag(:group, "Teams", :class => "h2") %>
          </div>
          </div>
          <br>
          <%= submit_tag("Search", :class => "btn btn-lg" ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>