<span>Who Are You Looking For?</span>
<%= form_tag("/search", method: "post") do %>
<%= radio_button_tag(:type, "athletes") %>
<%= label_tag("Athletes") %>
<%= radio_button_tag(:type, "team") %>
<%= label_tag("Teams") %>
<%= submit_tag("Search") %>
<% end %>