<div id="athlete-search-sport">

<div class="jumbotron text-center">
  <h1>Select a Sport:</h1>
  <div>
    <%= form_tag("players/search", method: "post") do %>
    <% @sports.each do |sport_obj| %>
    <div class="athlete-radio-button">
    <%= check_box_tag("[Sport][#{sport_obj.id}]", "#{sport_obj.name}") %>
    <%= label_tag("#{sport_obj.name}", nil, :class => "h2") %>
    </div>
    <% end %>
    <%= hidden_field_tag :group, "Athletes" %>
    <br>
    <%= submit_tag("Search", :class => "btn btn-primary btn-lg") %>
    <% end %>
  </div>
</div>


<div class="alert alert-success" role="alert">
  <h2 class="text-center"><%= @athletes.count  %> <%= @athletes.count > 1 ? "results:" : "result:" %></h2>
</div>

<div class="row">
   <% @athletes.each do |athlete| %>
  <div class="col-sm-6 col-md-4">
  <div class="drop-shadow">
    <div class="thumbnail">
      <div class="caption">
        <h3 class="text-center"><%= athlete.username %></h3>
        <% if !athlete.positions.empty? %>
        <p class="text-center"><%= athlete.positions.first.name %>
           <% if !athlete.sports.empty? %> | <%= athlete.sports.first.name %>
        </p>
        <% end %>
        <% end %>
        <% if logged_in? %>
        <p class="text-center"><%= athlete.city %>, <%= athlete.state %> | Miles from me: <%= athlete.distance_from(Player.find(current_player.id), :units=>:miles).round() %></p>
        <p class="text-right"><a href="/players/<%= athlete.id %>" class="btn btn-primary" role="button">Profile</a></p>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <% end %>
</div>

</div>