<div class="container">
<h2>Update My Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @player, url: player_path(@player), method: :put do |f| %>

  <% if @errors %>
    <% @player.errors.full_messages.each do |error| %>
      <h2 class=""><%= error %></h2><br>
    <% end %>
  <% end %>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>

  <% @player.positions.each do |position| %>
     <p>
       <%= position.name.capitalize %>
       <%= link_to "Delete",  position_path, method: :delete %>
     </p>
   <% end %>
  <p><%= f.label "Enter new positions separated by a comma." %>:</p>
  <p><%= f.text_field :positions, :value => "" %></p>

  <p><%= f.label :sports %></p>
    <% @sports.each do |sport| %>
        <p>
          <% if @player.sports.pluck(:name).include?(sport) %>
            <%= check_box_tag 'sport_types[]', sport, true %>
            <%= sport %>
          <% else %>
            <%= check_box_tag 'sport_types[]', sport %>
            <%= sport %>
          <% end %>
        </p>
    <% end %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :phone %></p>
  <p><%= f.text_field :phone %></p>

  <p><%= f.label :info %></p>
  <p><%= f.text_area :info %></p>


  <%= f.submit "Update", class: "button" %>
<% end %>
</div>