<% #if current_player.id == @player.id %>
  <h2 class="page-notice">Welcome back, <%= current_player.username %>! </h2>
<% #end %>

<div class="inner-container">
  <div class="profile-picture"></div>
  <div class="inner-container">
    <h3>Positions</h3>
    <% current_player.positions.each do |position| %>
      <div class="inner-container"><%= position.name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Sports</h3>
    <% current_player.sports.each do |sport| %>
      <div class="inner-container"><%= sport.name %></div>
    <% end %>

  </div>

  <div class="inner-container">
    <h3>Teams</h3>
    <% current_player.teams.each do |team| %>
      <div class="inner-container"><%= team.team_name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Info</h3>
    <p><%= current_player.info %></p>
  </div>
<div class="buttons">
  <%= button_to "See my Work", root_path, method: :get, class: "button" %>
</div>