<!DOCTYPE html>
<html>
<head>
  <title>Teammatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/">TeamMatch</a>
    <% if logged_in? %>
      <a href="#"><%= current_player.username %></a>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up" %>
      <%= link_to 'Google', oauth_login_path(:google_oauth2) %>
      <%= link_to 'Twitter', oauth_login_path(:twitter) %>
      <%= link_to 'Soundcloud', oauth_login_path(:soundcloud) %>
    <% end %>
  </header>

  <% if flash[:error] %>
    <p class='error'><%= flash[:error] %></p>
  <% end %>

  <% if flash[:notice] %>
    <p class='notice'><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
